body {
  background-color: #0f1724;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
}

h1 {
  color: #00b4d8;
  font-size: 32px;
}

p {
  font-size: 18px;
}menu

